body {
    background-color: #fff;
}

.page-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, #2a1f30 50%, #383d44 50%);
  }

#slideshow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

#slide-container {
    width: 80%;
    height: 60%;
    border: 1px solid #ccc;
    margin: 20px 0;
}

#image-container img {
    position: absolute; /* Allows precise positioning */
    width: 0px; /* Set desired width */
    height: auto; /* Maintain aspect ratio */
    top: -500px; /* Vertical position */
    left: 100px; /* Horizontal position */
    border: 1px solid #ccc; /* Optional border for clarity */
    border-radius: 5px; /* Optional rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional shadow */
    z-index: 50;
}

.annotation-image {
    transition: transform 0.25s ease;
}

.annotation-image:hover {
    transform: scale(1.2);
    z-index: 20;
}

.zoomed {
    transition: transform 0.25s ease;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    opacity: 0;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #70a677;
    color: #ecf7bd;
    border-color: #b910406f;
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000; /* Make sure it appears above other content */
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
}

.close-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.close-btn:hover {
    background-color: #d32f2f;
}

.max-export-text {
    font-size: 14px; /* Increase font size */
    font-weight: bold; /* Make text bold */
    fill: black; /* Text color */
    background-color: rgba(255, 255, 255, 0.8); /* Light background with some transparency */
    border-radius: 5px; /* Rounded corners */
    padding: 5px; /* Add some padding */
    pointer-events: none; /* Ensure text does not interfere with hover events */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Optional: add shadow for better contrast */
}

.collapsible-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    outline: none;
}

.collapsible-button:hover {
    background-color: #45a049;
}

.collapsible-button:focus {
    outline: none;
}

/* styles.css */
.overlay-box {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    border: 1px solid #ccc;
    padding: 10px; /* Reduced padding for a smaller box */
    border-radius: 8px;
    position: absolute;
    max-width: 300px; /* Reduced max-width */
    /* Adjust width and height as needed */
    width: auto;
    height: auto;
    z-index: 500; /* Ensure this is higher than other elements */
}

.overlay-box p {
    font-size: 12px; /* Smaller font size */
    line-height: 1.2; /* Adjust line height if necessary */
}

.collapsible-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px; /* Reduced padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; /* Smaller font size */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    outline: none;
}

.collapsible-button:hover {
    background-color: #45a049;
}

.collapsible-button:focus {
    outline: none;
}